.built
/.vs/cloud-platform-maintenance-pages/v16/TestStore/0/000.testlog
/.vs/cloud-platform-maintenance-pages/v16/.suo
/.vs/cloud-platform-maintenance-pages/v16/TestStore/0/testlog.manifest
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
