<% content_for :title do %>
    Civil Legal Aid Eligibility Calculator
  <% end %>
  
<% content_for :main_content do %>
  <h1>Civil Legal Aid Eligibility Calculator</h1>
    <p>
      The eligibility calculator tool is no longer in use.
    </p>
    <p> 
      If you give legal advice or provide legal services you can use the new service <a href="https://check-your-client-qualifies-for-legal-aid.service.gov.uk/?ref=civil_legal_aid_eligibility_calculator">check if your client qualifies for legal aid.</a>
    </p>

  <h2>Members of the public</h2>
    <p>
      To find out more about legal aid and your options you can:
    </p>
    <ul>
      <li>check if you can get free and confidential advice from <a href="https://www.gov.uk/civil-legal-advice">Civil Legal Advice</a></li>
      <li>find out more about <a href="https://www.gov.uk/legal-aid">legal aid</a></li>
      <li>find out what information we use to <a href="https://www.gov.uk/guidance/civil-legal-aid-means-testing">check who can get civil legal aid</a></li>
    </ul>
<% end %>