<% content_for :title do %>
  Civil Legal Aid Eligibility Calculator
<% end %>  

<% content_for :main_content do %>
  <h1>Civil Legal Aid Eligibility Calculator</h1>
    <p>
      The eligibility calculator tool is no longer in use.
    </p>
    <p> 
      If you give legal advice or provide legal services you can use the <a href="https://www.gov.uk/guidance/civil-legal-aid-means-testing">civil legal aid: means testing</a> resources to check your client's financial eligibility for legal aid.
    </p>
    <p>
      Members of the public can use the <a href="https://www.gov.uk/check-legal-aid">legal aid checker</a> to check their financial eligibility for civil legal aid.
    </p>

  <h3>Try the new service</h3>
    <p>
      We are building a replacement for this service, which is being tested as part of a private pilot.
    </p>
    <p>
      If you would like to try the new service, <a href="https://eu.surveymonkey.com/r/ccqpilot">sign up to our private pilot</a> and we'll tell you how to start using it. You must provide civil legal representation, or advice to help people deal with their legal problems, to take part.
    </p>
<% end %>
