<% content_for :title do %>
  MoJ Decommission Pages Demo
<% end %>

<% content_for :main_content do %>
  <h1>Decommission Pages Demo</h1>
  <p>
    This domain has been decommissioned.

    Please head to <a href="https://www.gov.uk/government/organisations/ministry-of-justice">the GOV.UK Ministry of Justice site</a> for more information.
  </p>
  <p>
  To find out more about decommission pages, <a href="https://github.com/ministryofjustice/cloud-platform-maintenance-pages">click here</a>.
  </p>
<% end %>
