<% content_for :title do %>
  Service under maintenance. - Lands Chamber Tribunal
<% end %>

<% content_for :main_content do %>
   <h1>We’re sorry this site is temporarily unavailable</h1>
   <p>We are carrying out urgent maintenance on this website and it will be temporarily unavailable until that work is finished. Please use our <a href="https://www.gov.uk/find-court-tribunal">Court and Tribunal Finder</a> service if you need to contact the tribunal urgently.</p>
   <p>Sorry for the inconvenience caused.</p>
<% end %>
