<% content_for :title do %>
  Service under maintenance. - MoJ Cloud Platform
<% end %>

<% content_for :main_content do %>
   <h1>This service is temporarily unavailable</h1>
            <p>We are carrying out maintenance.</p>
            <p>Please check back soon.</p>
<% end %>
