<% content_for :title do %>
  MoJ Maintenance Pages Demo
<% end %>

<% content_for :main_content do %>
  <h1>Maintenance Pages Demo</h1>
  <p>
    This service is currently down for maintenance.
  </p>
  <p>
  To find out more about maintenance pages, <a href="https://github.com/ministryofjustice/cloud-platform-maintenance-pages">click here</a>.
  </p>
<% end %>
