<% content_for :title do %>
  Decommission Notice
<% end %>

<% content_for :main_content do %>
  <h1>Decommission Notice</h1>
  <p>
    The domain <b>https://nomisqc.justice.gov.uk</b> has been decommissioned.

    Please head to the <a href="https://www.gov.uk/government/organisations/ministry-of-justice">GOV.UK Ministry of Justice</a> website for more information.
  </p>
<% end %>
