<% content_for :title do %>
  Decommission Notice
<% end %>

<% content_for :main_content do %>
  <h1>Decommission Notice</h1>
  <p>
    This domain has been decommissioned.

    Please head to the new <a href="https://user-guide.operations-engineering.service.justice.gov.uk/#moj-operations-engineering-user-guide">Operations Engineering User Guide</a> site.
  </p>
<% end %>
